.aboutUsMain {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 90%;
    font-family: 'Roboto', sans-serif;
    .aboutMainPaper {
        min-height: 80vh;
        min-width: 80vw;
        justify-self: center;
        align-self: center;
        .aboutTitle {
            height: 20vh;
            font-family: 'Roboto', sans-serif;
        }
        .aboutMotto {
            align-self: center;
            justify-self: center;
            height: 40vh;
            max-width: 100%;
            font-family: 'Roboto', sans-serif;
        }
    }
}