.currentInventoryMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 60vh;
    .inventoryShowcase {
        height: 90%;
        width: 90%;
        align-self: center;
        overflow: scroll;
        overflow-x: hidden;
        .itemCard{
            width: 15vw;
            height: 30vh;
            margin: 20px;
            .cardButtons {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 5px;
                margin-left: 2px;
                margin-bottom: 0px;
                width: 100%;
                .editIcon {
                    display: fixed;
                    justify-self: flex-start;
                    margin-left: 5px;
                    .editButton {
                        border: white;
                        border-radius: 5px;
                        background-color: white;
                        cursor: pointer;
                    }
                    .editButton:hover {
                        background-color: rgb(228, 239, 243);
                    }
                }
                .deleteIcon {
                    display: flex;
                    margin-left: auto;
                    margin-right: 5px;
                    .deleteButton {
                        border: white;
                        border-radius: 5px;
                        background-color: white;
                        cursor: pointer;
                    }
                    .deleteButton:hover {
                        background-color: rgb(250, 216, 216);
                    }
                }
            }
            .itemImage{
                margin-top: -1vh;
                width: 8vw;
                cursor: pointer;
            }
            .itemList {
                list-style-type: none;
                margin-right: 25px;
            }
        }
    }
}

.expandedView {
    position: fixed;
    top: 25vh;
    left: 25vw;
    min-width: 50%;
    min-height: 50%;
    &.hidden {
        display: none;
    }
    .expandedCard {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50vw;
        min-height: 50vh;
        .expandedItemImage {
            display: flex;
            margin: 5px;
            max-height: 50vh;
            max-width: 50vw;
        }
        .closeButton {
            position: fixed;
            top: 26vh;
            right: 26vw;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            border: none;
            cursor: pointer;
        }
    }
}

.expandedEditView {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 25vh;
    left: 25vw;
    min-width: 50%;
    min-height: 50%;
    &.hidden {
        display: none;
    }
    .expandedEditCard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        min-width: 50vw;
        min-height: 50vh;
        .editContentDiv {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .editingItemImage {
                display: flex;
                margin: 5px;
                max-height: 250px;
                max-width: 250px;
            }
            .closeButton {
                position: fixed;
                top: 26vh;
                right: 26vw;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                border: none;
                cursor: pointer;
            }
            .editItemForm {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .editField {
                    margin: 15px;
                    width: 450px;
                }
            }
        }
    }
}







