
.mainContent {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.itemPaper {
    display: flex;
    min-height: 90%;
    width: 95%;
    align-self: center;
    overflow: scroll;
    overflow-x: hidden;
    border: solid 1px grey;
    .gridContainer {
        display: flex;
        margin-left: 10px;
        .itemCard {
            width: 18vw;
            height: 30vh;
            margin: 20px;
            border: solid 1px grey;
            .itemImage {
                margin-top: 10px;
                width: 8vw;
                cursor: pointer;
            }
            .itemList {
                list-style-type: none;
                margin-right: 25px;
                padding: 5px;
                font-size: 1.5vh;
            }
        }
    }
    
}

