.newItemFormBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    .newItemForm {
        width: 20vw;
        .inputField {
            width: 100%;
        }
    }
}

