.navBar {
    list-style-type: none;
    height: 5vh;
    background-color: rgb(217, 234, 250);
    text-decoration: none;
    top: 0;
    margin-top: 0;
    padding: 3px;
    a {
        text-decoration: none;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
}